.account {
  @extend %public-form;

  .account-header {
    padding: 0 16px rem-calc(24) 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border;

    > img {
      width: 26px;
      margin-right: 16px;
    }

    > .text-header {
      margin-bottom: 0;
    }
  }

  .row {
    margin-top: rem-calc(24);

    .column.account-left,
    .column.account-right {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .column.account-left {
      &.account-left {
        .wrapper-profile {
          display: flex;
          align-items: center;

          > img {
            margin-right: 16px;
          }
        }

        .personal_details {
          padding: 16px;
          border: 1px solid $border;
          border-radius: 6px;

          .checkbox-label {
            .checkbox {
              font-weight: 100;
            }
          }

          input[type="submit"] {
            width: 100%;

            @include breakpoint(medium) {
              width: 220px;
            }
          }
        }
      }
    }

    .column.account-right {
      > .account-action {
        display: flex;
        flex-direction: column;

        .button.hollow {
          font-size: rem-calc(20);
          line-height: 1.3;
        }

        .delete {
          margin-left: auto;
          margin-right: 8px;
        }
      }

      .user-permissions {
        @extend .custom-font-anakotmai;

        > .user-permissions-title,
        > ul {
          > li {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 100;

            > .icon-check {
              color: $brand;
            }
          }
        }

        > .user-permissions-footer {
          margin-top: 24px;
          padding: 16px;
        }

        > .box-bottom {
          border-radius: 16px;
          padding: 0.5em 0;
          border: 1px solid $brand;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba($brand, 0.3);

          .already-verified,
          .already-verified > * {
            color: $brand;
          }

          .already-verified {
            margin: 0;
          }
        }
      }
    }
  }
}
