// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.multiSelect {
  position: relative;
}

.multiSelect *,
.multiSelect *::before,
.multiSelect *::after {
  box-sizing: border-box;
}

.multiSelect_dropdown {
  outline: none;
  transition: 0.1s border-color ease-in-out;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $input-height;
  margin-bottom: rem-calc(16);
  color: $input-color;
  // background: #f8f8f8;
  border: $input-border;
  padding: $input-padding;
  font-size: $form-label-font-size;
  font-weight: $form-label-font-weight;
  line-height: $form-label-line-height;
  // box-shadow: $input-shadow;
  border-radius: $input-radius;

  &:focus {
    border: $input-border-focus;
    box-shadow: $input-shadow-focus;
  }
}

.multiSelect_dropdown.-hasValue {
  cursor: default;
}

.multiSelect_dropdown.-open {
  box-shadow: none;
  outline: none;
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-radius: 20px;
  border-bottom: 8px solid #99a3ba;
  top: 40%;
  transition: all 0.15s ease;
}

.multiSelect_arrow::before {
  right: 18px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.multiSelect_arrow::after {
  right: 13px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.multiSelect_list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(10 * 31px);
  top: 28px;
  left: 0;
  z-index: 9999;
  right: 0;
  background: #fff;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: opacity 0.1s ease, visibility 0.1s ease,
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.1s ease, visibility 0.1s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
  transform: scale(0.8) translate(0, 4px);
  border: 1px solid #d9dbde;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_option {
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translate(6px, 0);
  transform: translate(6px, 0);
  transition: all 0.15s ease;
  user-select: none;
}

.multiSelect_option.-selected {
  display: none;
}

.multiSelect_option:hover .multiSelect_text {
  color: #fff;
  background: #4d84fe;
  text-decoration: unset;
}

.multiSelect_text {
  cursor: pointer;
  display: block;
  padding: 5px 13px;
  color: #000;
  font-size: $form-label-font-size * 1.2;
  font-weight: $form-label-font-weight;
  line-height: $form-label-line-height;
  text-decoration: none;
  outline: none;
  position: relative;
  transition: all 0.15s ease;
}

.multiSelect_list.-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
  transform: scale(1) translate(0, 12px);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease,
    transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
    -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
  transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
  transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
  transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
  transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
  transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
  transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
  transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
  transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
  transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
  transition-delay: 100ms;
}

.multiSelect_choice {
  background: rgba(77, 132, 254, 0.1);
  color: #000;
  padding: 4px 12px 4px 16px;
  margin: 5px;
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  font-size: $form-label-font-size * 1.2;
  font-weight: $form-label-font-weight;
  line-height: $form-label-line-height;
  flex: 0 0 auto;
}

.multiSelect_deselect {
  width: 12px;
  height: 12px;
  display: inline-block;
  stroke: #b2bac3;
  stroke-width: 4px;
  margin-top: -1px;
  margin-left: 6px;

  vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
  stroke: #a1a8b1;
}

.multiSelect_noselections {
  text-align: center;
  padding: 7px;
  color: #b2bac3;
  font-weight: 450;
  margin: 0;
}

.multiSelect_placeholder {
  position: absolute;
  left: 20px;
  font-size: 14px;
  top: 8px;
  padding: 0 4px;
  background-color: #fff;
  color: #b8bcbf;
  pointer-events: none;
  transition: all 0.1s ease;
}

.multiSelect_dropdown.-open,
.multiSelect_dropdown.-open.-hasValue {
  top: -11px;
  left: 17px;
  color: #4073ff;
  font-size: 13px;
}

.multiSelect_dropdown.-hasValue {
  top: -11px;
  left: 17px;
  color: #6e7277;
  font-size: 13px;
}
