<footer>
  <div class="row">
    <div class="footer-sections privacy-policy small-12 large-8 column">
      <div class="small-12 medium-5">
        <p><%= link_to t("layouts.footer.participation_text"), "https://www.moveforwardparty.org/privacy-policy/" %></p>
      </div>
    </div>
    <%= render Layout::SocialComponent.new %>
  </div>
  
  <div class="subfooter row">
    <div class="subtitle">
      <%= t("layouts.footer.subtitle") %>
    </div>
    <div class="copy-right">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>
    </div>

  </div>
</footer>
